<div class="topicCard">

</div>


<header class="showHeader"></header>
<div class="container">
    <main class="showContent">
        <div class="profilecontainer">
          <img src="<%= @topics.img_url %>"class="profileHeadshot"/>
            <div class="recipeContainer">
              <h3>Posts <%=link_to "+", new_topic_post_path(@topics) %></h3>
              <div class="postList">

                <ul>
                  <% @topics.posts.each do |post| %>
                  <h4>
                      <a href="/topics/<%=@topics.id %>/posts/<%= post.id %>" class="postLink">
                        <%= "#{post.name}" %>
                      </a>
                  </h4>
                  <% end %>
                </ul>
              </div>
            </div>
        </div>
    </main>
    <nav></nav>
    <aside></aside>
</div>
<footer class="showFooter"></footer>
